body{
    background-color: #423745;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    background-color: #6a5370;
    justify-content: space-between;
}

#highscore{
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
    background-color: #ab7ac9;
    color: white;
    border-radius: 30px;
}

#timer{
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    background-color: #ab7ac9;
    color: white;
    border-radius: 30px;
    display:none;
}

div button{
    padding: 20px;
    margin: 50px;
    cursor: pointer;
    font-size: 30px;
    background-color: #ab7ac9;
    color: white;
    border-radius: 30px;
}

input{
    width: 50%;
    padding: 20px;
    margin: 50px;
    font-size: 30px;
    box-sizing: border-box;
}

section{
    text-align: center;
    justify-content: center;
    width: 100%;
}

h1{
    color: white;
    font-size: 100px;
}

p{
    color: white;
    font-size: 20px;
}